.send-form{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  //position: relative;

  .input{
    //padding: 20px 0;
  }

  &__actions{
    //padding: 20px 0;
    text-align: right;
    .btn{
      padding: 10px 25px;
    }
  }
}